<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="net.openvpn.openvpn" platformBuildVersionCode="14" platformBuildVersionName="4.0.2-1406408">
    <uses-sdk android:minSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <application android:allowBackup="false" android:icon="@drawable/icon" android:label="@string/app" android:name=".OpenVPNApplication">
        <service android:name=".OpenVPNService" android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
        <activity android:configChanges="keyboardHidden|orientation" android:launchMode="singleTask" android:name=".IndexClient" android:label="西河口引力波" android:icon="@drawable/icon"  android:logo="@drawable/icon" android:theme="@android:style/Theme.Holo">
	  
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".OpenVPNProxyCreds" android:theme="@android:style/Theme.Holo.Dialog"/>
        <activity android:name=".OpenVPNHelp"/>
        <activity android:exported="true" android:name=".OpenVPNDisconnect" android:theme="@android:style/Theme.NoDisplay"/>
    </application>
</manifest>
